<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="container" style="padding-top: 70px">
    <h1>Blog</h1>
    <h2>
      <a class="anchor" id="{{ .Slug }}"></a>
      <a href="#{{ .Slug }}" class="slug">#</a>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <p><strong>Szerző:</strong> {{ .Params.Author }}, {{ .Date.Format "2006. augusztus 2." }}</p>
    {{ .Content }}
    {{ $paginator := .Paginate (first 10 .Pages.ByDate.Reverse) }}
    {{ template "_internal/pagination.html" . }}
  </div>
</body>
</html>
