<!DOCTYPE html>
<html>
<head>
	 {{ partial "head" . }}
	<title>{{ .Title }}</title>
</head>
<body>
	<div class="container" style="padding-top: 70px">
		<h1>{{ .Title }}</h1>
		{{ .Content }}
	</div>
</body>
</html>
