<style type="text/css">
h1 {
	font-family: liberation sans;
	font-style: italic;
	font-size: 18,2;
	text-align: center;
}
h2 {
	font-family: liberation sans;
	font-style: italic;
	font-size: 16,1;
	text-align: center;
}
h3 {
	font-family: liberation sans;
	font-style: italic;
	font-size: 14,1;
	text-align: center;
}
h4 {
	font-family: liberation sans;
	font-style: italic;
	font-size: 13,1;
	text-align: center;
}	
h5 {
	font-family: liberation sans;
	font-style: italic;
	font-size: 11,9,2;
	text-align: center;
}
h6 {
	font-family: liberation sans;
	font-style: italic;
	font-size: 11,2;
	text-align: center;
}
i {
	font-family: arial;
	font-size: 14;
}
b {
	font-family: arial;
	font-size: 14;
}
title {
	font-size: 18;
	font-family: 'times new roman';
	text-align: center;
}
</style>
